<!DOCTYPE html>
<html lang="en">

<head>
  <title>Party Parrots</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/6213180c78.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://ssimpkin.github.io/dhsite2017/files/leaflet-demo/leaflet/leaflet.css" />
  <script src="https://ssimpkin.github.io/dhsite2017/files/leaflet-demo/leaflet/leaflet.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
  <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" href="/">Let's Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/locations">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>

    </nav>
  </div>

  {{!-- <div class="container">
    <div class="masthead">
      <div class="navbar NavStyle">
        <div class="styleNavbar">
          <ul class="style-ul-nav">
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/">Home</a></li>
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/about">About</a></li>
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/locations">Locations</a></li>
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/search">Search</a></li>
            {{#if logged_in}}
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/profile">Profile</a></li>
            <li class="style-li-nav"><a class="style-a-ul-nav" id="logout">Logout</a></li>
            {{else}}
            <li class="style-li-nav"><a class="style-a-ul-nav" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div> --}}

  <div>
    <!-- Render the sub layout -->
    {{{ body }}}
  </div>

  <div class="container">
    <div class="footer">


      <p>&copy; Company Parrots</p>
    </div>

  </div>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{!-- bootstrap scripts --}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>