<div class="container heroTitle">
  <div class="row">
    <h1>Party Parrots</h1>
    <p class="heroText">Oh no, you missed the nest and landed on our 404 page!</p>
    <img src="/images/parrot.png" alt="Party Parrot" style="align-items: center;"
      style="width: 204.75px;height:227.5px;">
  </div>
</div>