<div class="container heroTitle">
  <div class="row">
    <h1>Party Parrots</h1>
    <p class="heroText">A group project using Express.js, Sequelize, and Handlebars</p>
  </div>
</div>


<div class="container">
  <hr>
  <div class="row">
    <p> The collaborators for this project were:</p>
    <div class="col aboutTiles">
      <h2><a href="https://github.com/sbuntz" target="_blank">Stefanie Buntz</a></h2>
      <a href="https://github.com/sbuntz" target="_blank"><img class = "grayscale" src="/images/stef.png" alt="Stefanie Buntz" style="width: 200px;;height:200px;"></a>
    </div>
    <div class="col aboutTiles">
      <h2> <a href="https://github.com/josephdaw" target="_blank">Joseph Daw</a></h2>
      <a href="https://github.com/josephdaw" target="_blank"><img class = "grayscale" src="/images/joe.jpeg" alt="Joseph Daw" style="width: 200px;;height:200px;"></a>
    </div>
    <div class="col aboutTiles">
      <h2> <a href="https://github.com/AlexGroat" target="_blank">Alex Groat</a></h2>
       <a href="https://github.com/AlexGroat" target="_blank"><img class = "grayscale" src="/images/alex.jpeg" alt="Alex Groat" style="width: 200px;;height:200px;" ></a>
    </div>
  </div>
</div>
