<div class="jumbotron">
  <h2>Party Parrots</h2>
  <p class="lead">A group project using Express.js, Sequelize, and Handlebars</p>
  <p>
    The collaborators for this project were:
  <ul>
    <a href="https://github.com/sbuntz">Stefanie Buntz</a>
    <a href="https://github.com/josephdaw">Joseph Daw</a>
    <a href="https://github.com/AlexGroat">Alex Groat</a>
  </ul>
  </p>
</div>