<!-- Loop over each object in the projects array -->
   <div id="map"></div>

{{#each locations as |location| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/locations/{{location.id}}">{{location.location_name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{location.description}}
      
    </p>
  </div>
</div>

</div>
{{/each}}

<script src="/js/leaflet.js"></script>