<div class="jumbotron">
  <h1>Login</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<hr>

<div class="row-fluid">
  <form class="form-horizontal">
      <div class="control-group">
          <label  for="name-login" class="control-label">Name</label>
          <div class="controls">
              <input class="input-xxlarge itemName" value="" type="text" id="name-login" >
          </div>
      </div>
      <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
              <input class="input-xxlarge caption" value="" type="text" id="email-login" >
          </div>
      </div>
      <div class="control-group">
          <label for="password-login" class="control-label">Password</label>
          <div class="controls">
              <input class="input-xxlarge link" value="" type="password" id="password-login">
          </div>
      </div>
      <div class="control-group">
          <div class="controls">
              <button class="loginBtn"type="submit">login</button>
          </div>
      </div>
  </form>
</div>