

<div class="container heroTitle">
  <div class="row">
    <h2>Welcome, {{name}}!</h2>
    <p class="heroText">Time to start posting your locations and leaving your reviews!</p>
  </div>
</div>


<div class="container">
  <hr>
  <div class="row">
     {{#if reviews.length}}
    <p> Current Reviews:</p>
   {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/locations/{{review.location_id}}">{{review.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="reviewButton btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  </div>
  <div class="row">
     <p class ="buttonLocation">
              <a class="btn" href="/locations">
          <button type="button" class="button">
            Locations 
          </button>
        </a>
      <a class="btn" href="/search">
          <button type="button" class="button">
            Search 
          </button>
        </a>

    </p>
  </div>
</div>



<script src="/js/profile.js"></script>
