html {
  overflow-y: scroll;
  min-height: 100%
}
body {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}
.hr {
  margin: 10px;
}
.heroTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(83, 82, 82);
}
.heroTitle h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}
.heroText {
  font-size: 20px;
  line-height: 1.25;
  font-weight: .5;
  color: #777;
}
.NavStyle {
  display: block;
}
.styleNavbar {
  min-height: 40px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
 padding: 0;
 display: block;
}
.style-ul-nav {
  margin: 0;
  display: table;
  width: 100%;
}
.style-a-ul-nav {
  float: none;
  padding: 10px 15px 10px;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  display: block;
}
.style-li-nav {
  display: table-cell;
  width: 1%;
  float: none;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.locationTiles {
  margin: 15px;
  padding: 10px;
  background-image: linear-gradient(#f2f2f2, #fff );
}
.locationTitle {
  font-size: 20px;
  font-weight: 1;
  color: rgb(59, 59, 59);
}
.locationText {
  color: rgb(92, 91, 91); 
  font-size: 15px;
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  text-align: justify;
  text-justify: inter-word;
}
.footer{
  text-align: center;
  bottom: 0;
  color: #777;
}
#map {
  height: 300px;
}
a {
  color: #777;
  text-decoration: none;
}
a:hover {
  color:rgb(85, 84, 84); 
  text-decoration:none; 
  cursor:pointer;  
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
  color: rgb(85, 84, 84);
}

.button:focus {
  border-color: #464646;
  box-shadow: rgba(213, 217, 217, .5) 0 1px 1px 0;
  outline: 0;
}

.nav-pills .nav-link.active {
  background-color: #777;
}

.loginStyle {
  align-items: center;
  width: 60%;
}
form {
  margin:auto;
}

label {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 1;
  color: #777;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #777;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #777;
  border-radius: 0.3rem;
}

.review {
  padding-top: 10px;
  border-top: 2px solid lightgray;
}

.tab-pane {
  width: 50%;
 margin-left: 50px;
}

#pills-tab {
  margin-left: 50px;
}

.new-location-form {
  margin-left: 30px;
  width: 70%;
}

.welcome {
  margin-left: 50px;
}

form .form-input.form-input-squared {
  border-radius: 0;
} 
.locationTitles {
  padding-left: 50px;
  padding-top: 30px;
  align-items: center;
  font-size: 24px;
  font-weight: 0.5px;
}

.locationsText {
  padding-top: 5px;
  color: #777;
  font-size: 16px;
}
.buttonLocation {
  text-align: center;
}
.reviewTitles {
  padding-left: 50px;
  padding-top: 5px;
  align-items: center;
  font-size: 24px;
  font-weight: 0.5px;
  color: #777;
}

.aboutTiles {
  padding-left: 50px;
  padding-top: 5px;
  align-items: center;
  text-align: center;
  color: #777;
}

.aboutTiles h2 {
  font-size: 24px;
  font-weight: 1;
}
.grayscale {
  filter: grayscale(80%);
}
.searchButton {
  margin-top: 10px;
}
.commentButton {
  width: 200px;
}

.closeButton {
  background-color: rgb(207, 207, 207);
}

.welcome-name {
  justify-content: center;
}

.user-reviews {
  width: 100vw;
 margin-left: 37%;
 margin-top: 20px;
}

.user-reviews h3 {
  margin-left: 47px;
}

.user-reviews h4 {
  margin-left: 64px;
  margin-top: 20px;
}


.user-reviews h4:hover {
  transform: scale(1.15);
  transition: .2s ease-in-out; 
}

.container-fluid {
  display: block;
 justify-content: center;
 width:50vw;
}
.nav-link {
  margin-left: 100px;
 text-align: center;
}